
<p><%= title %></p>
<form id="newDocumentForm">
<% fields.forEach(field => { %> 

    
    <%= field.displayName %> 
<% if(field.inputType==="text") { %>
     <input name ="<%= field.nameInDoc %>" type="text" <% if(field.required){%>required<%}%>/>
<% } else if (field.inputType ==="number"){%>
    <input name ="<%= field.nameInDoc %>" type="number" <% if(field.required){%>required<%}%>/>
    <% } %> 

    <% });%>
    <input type="hidden" name="nameInDoc" value="<%= nameInDoc %> "/>
    <button id="submitNewDocument" >submit</button>
</form>