<a href="<%= nameID %>/add">add new item</a>

<p>All from <%= title %></p>


<% for(let document of documents) {%>
    <% for(let key in document) {%>
        
        <% if(rewrite[key]) {%>
            <%= rewrite[key] %>:
        <% } else { %>
            <%= key %>:
        <% } %> 
        <%if(document[key].type === "image"){%>
            <img src="<%= "uploads/" + document[key].filename  %>"/>
        <%} else {%> 
            <!-- admin/uploads/ -->
         
            <%= document[key] %>
        <%}%> 
        <br>
    <% } %> 
    <br><br>
<% } %> 