<a href="<%= nameID %>/add">add new item</a>


<p>All from <%= title %></p>

        
        
<div class="post">
<% for(let document of documents) {%>
    
  <a href="http://localhost:3000/admin/posts/<%= document._id %>">  
    <% document = document.toObject()%>
    <% for(let key in document) {%>
        <% if (key === "_id") continue; %>
        <% if (key=== "rewriteObj" || key==="contentType" ) continue;%>
        <% let field = document[key]; %>
        <% let contentType = document.contentType[key]; %>
        <% let rewrite = document.rewriteObj[key] %>
       
        <% if(rewrite) {%>
            <h3> <%= rewrite %>: </h3> 
        <% } else { %> 
            <h3><%= key %>:</h3> 
        <% } %> 

   

        <%if(contentType === "image"){%>
            <img src="<%= "uploads/" + document[key].filename  %>"/>
        <%} else {%> 
            <!-- admin/uploads/ -->
         
            <%- document[key] %>
        <%}%> 
        <br>
    <% } %> 
    <br><br>
</a>
<% } %> 
</div>
