
<p><%= title %></p>
<form id="newDocumentForm">

    <% category.fields.forEach(field => { %>
        <label for="<%= field.nameID %>"><%= field.name %></label>
        <input type="<%= field.inputType %>" name="<%= field.nameID %>">
    <% })%>


<input type="hidden" name="nameInDoc" value="<%= nameInDoc %>"/>
<button id="submitNewDocument" >submit</button>

</form>