
<p><%= title %></p>
<form id="newDocumentForm">

    <% (function recursive(obj, nested) { %>
        <% if(!obj.groups) return%>
        <% obj.groups.forEach(group => { %>
            <% if (nested) { %>
                <div class="group <%= group.groupName %>">
                    <div class="group <%= obj.groupName %>">

                    </div>
                </div>
            <% return; } %>
            <% if (!group.groups) { %>
           <div class="group <%= group.groupName %>"></div>
            <% } else { %>
            <% recursive(group, true) %>
          <% } %>
        <% }) %>
      <% })(category) %>


<input type="hidden" name="nameInDoc" value="<%= nameInDoc %>"/>
<button id="submitNewDocument" >submit</button>

</form>