
<p><%= title %></p>
<form id="newDocumentForm">

    <% collection.fields.forEach(field => { %>
       <% if(field.inputType === "select"){%>
        <br><br><label for="<%= field.nameID %>"><%= field.name %></label><br>
            <select name="<%= field.nameID %>">
                <% field.options.forEach(option => { %>
                    <option value="<%= option.value %>"><%= option.name %></option>
                <% }) %>
            </select>

        <% } else if  (field.inputType === "radio"){%>
            <br><br><label ><%= field.name %> </label> <br>
                <% field.options.forEach(option => { %>
                    <label for="<%= option.name %>"> <%= option.name %> </label>
                     <input type="radio" name="<%= field.nameID %>" value="<%= option.value %>">
                <% }) %>
        <% } else if  (field.contentType === "text"){%>
            <br><br> <label for="<%= field.nameID %>"><%= field.name %></label><br>
        <textArea class="tinyMce" type="<%= field.inputType %>" name="<%= field.nameID %>"></textArea>
        <% } else { %>
            <br><br><label for="<%= field.nameID %>"><%= field.name %></label><br>
        <input type="<%= field.inputType %>" name="<%= field.nameID %>">
        <% } %>
    <% })%>


<input type="hidden" name="nameID" value="<%= nameID %>"/>
<button id="submitNewDocument" >submit</button>

</form>

<script>
    tinymce.init({
      selector: '.tinyMce'
    });
    
</script>